*{
    margin: 0;
    padding: 0;
  }
  header{
    font-family: sans-serif;
    width: 480px;
    margin: 0 auto;
  }
  ul{
    list-style: none;
  }
  #menu li>a{
    background-color: grey;
    color:white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu li>a:hover{
    color: black;
    background-color: #eaeaea;
  }
  #menu>li{
    float: left;
    text-align: center
  }